@model Tarea6.Models.User
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h2 class="text-info" align="center"> ¡Bienvenido Usuario!</h2>
            <a class="btn btn-info btn-block" href="/User/Formulario">Formulario</a>
        </div>
    </div>
</div>
